name: Checagem de erros JavaScript

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar o código
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalar ESLint + dependências
        run: npm install eslint @eslint/js globals

      - name: Rodar ESLint
        run: npx eslint "**/*.js"
